absl-py>=0.9.0
cma>=3.0.3
git+git://github.com/aam-at/adversarial-robustness-toolbox@master#egg=art
git+git://github.com/aam-at/cleverhans_tf2@master#egg=cleverhans
git+git://github.com/aam-at/foolbox@master#egg=foolbox
https://storage.googleapis.com/jax-releases/cuda101/jaxlib-0.1.47-cp37-none-linux_x86_64.whl
jax>=0.1.69
numba>=0.50
numpy>=1.18.2
pytorch-ignite>=0.3.0
tensorboard>=2.2.0
tensorflow-gpu>=2.2.0
tensorflow-probability==0.9.0
torch>=1.5.0
torchvision>=0.6.0
