mnist_weights_linf.mat filter=lfs diff=lfs merge=lfs -text
mnist_weights_plain.mat filter=lfs diff=lfs merge=lfs -text
mnist_weights_l2.mat filter=lfs diff=lfs merge=lfs -text
# original linf-at white model
mnist_weights_linf_madry.mat filter=lfs diff=lfs merge=lfs -text
# released linf-at secret model
mnist_weights_linf_secret.mat filter=lfs diff=lfs merge=lfs -text
